* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: gray;
}

main {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 416px;

  background-color: black;
}

.sprite {
  width: 32px;
  height: 32px;
}

.map-blowable-block {
  background-image: url(assets/sprites/maps/usual.png);
  background-position: 0px 0px;
}

.map-fixed-block {
  background-image: url(assets/sprites/maps/usual.png);
  background-position: -32px 0px;
}

.map-floor-tile {
  background-image: url(assets/sprites/maps/usual.png);
  background-position: -64px 0px;
}

.map-wall-block {
  background-image: url(assets/sprites/maps/usual.png);
  background-position: -96px 0px;
}

#player {
  position: absolute;
}

#player::after {
  content: "";
  position: absolute;
  top: -32px;
  left: -16px;
  width: 64px;
  height: 64px;
  background-image: url(assets/sprites/characters/bomberman-white.png);
  background-position: 0px 0px;
}
